$background-color: #f5f5f5;
$font-color: #555;
$font-family: 'Open Sans', sans-serif;
$link-color: #a00;
		
$link-color-hover: #f00;
$headers-color: #333;
$font-family-headers: 'Oswald', sans-serif;

// Colors
$white: #fff;
$grey: #ececec;